.crime{:'data-lat' => crime.latitude,
  :'data-long' => crime.longitude,
  :'data-type' => crime.type,
  :'data-description' => crime.description,
  :'data-location-description' => crime.location_description}